/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

/* scss 삽입 */ 
@import 'variables';
@import 'root';

/* 믹스인 컴포넌트 - (SPA) 믹스인 페이지 별도 생성해야 
   파일명: variables_ (분할 컴파일)
*/
// @mixin fixed_center {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }


body {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  background-color: transparent;
  
  overflow-y: auto;
  .header, .tab_navi, .bottom_tab {
    transition: all .15s cubic-bezier(1, -0.47, 0.22, 1.47);
  }
  &.active_popup {
    overflow-y: hidden;
    .header, .tab_navi, .bottom_tab {
      z-index: 1;
      transition: all .15s cubic-bezier(0, 0.29, 0.69, 1.83);
    }
  }
}
* { -webkit-tap-highlight-color:transparent; }
#app {
  padding-top: 5.2rem;
  min-width: 28rem;
  max-width: 43rem;
  margin: 0 auto;
  overflow-x: hidden;
  // overflow-y: scroll;
}
:root {
  #app {
    background-color: var(--color-grey-lighten4);
  }
}
.wrap {
  padding: 3.6rem 2rem;
  margin: 0 auto;
  background-color: var(--color-skycolor-level1);
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--color-black-deep3);
  
  &:focus {color: var(--color-black-deep3)};
  
  // &:active,
  // &:visited {color: var(--color-amber-accent1)};
}
span.isActive::before, p.isActive {
  color: var(--color-amber-accent2) !important;
  // color: var(--color-black-deep4) !important;
}

.width_applyUnder img {
  display: block;
  width: 100% !important;
}

/* 접근성 테스트 */
.vue-skip-to {
  &.focused, &:hover {
    width: 100% !important;
  }
  display: block;
  top: 0;
  left: 0;
  right: 0;
  min-width: 28rem;
  max-width: 43rem;
  margin: 0 auto !important;
  z-index: 10;
  width: 100% !important;
  height: auto !important;
  background-color: var(--color-amber-accent1);
  .vue-skip-to__link {
    width: 100% !important;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    padding: 0;
    height: 3.6rem;
    line-height: 3.6rem;
  }
}


/* margin-top */
.mgt0 {margin-top: 0rem;}
.mgt4 {margin-top: 0.4rem;}
.mgt8 {margin-top: 0.8rem;}
.mgt12 {margin-top: 1.2rem;}
.mgt16 {margin-top: 1.6rem;}
.mgt20 {margin-top: 2rem;}
.mgt24 {margin-top: 2.4rem;}
.mgt28 {margin-top: 2.8rem;}
.mgt32 {margin-top: 3.2rem;}
.mgt36 {margin-top: 3.6rem;}
.mgt40 {margin-top: 4rem;}
.mgt44 {margin-top: 4.4rem;}
.mgt48 {margin-top: 4.8rem;}

/* padding-top */
.pdt0 {padding-top: 0rem !important;}
.pdt4 {padding-top: 0.4rem;}
.pdt8 {padding-top: 0.8rem;}
.pdt12 {padding-top: 1.2rem;}
.pdt16 {padding-top: 1.6rem;}
.pdt20 {padding-top: 2rem;}
.pdt24 {padding-top: 2.4rem;}
.pdt28 {padding-top: 2.8rem;}
.pdt32 {padding-top: 3.2rem;}
.pdt36 {padding-top: 3.6rem;}
.pdt40 {padding-top: 4rem;}
.pdt44 {padding-top: 4.4rem;}
.pdt48 {padding-top: 4.8rem;}

.pdl24 {padding-left: 2.4rem;}
.pdl28 {padding-left: 2.8rem;}
.pdl32 {padding-left: 3.2rem;}

.pdr32 {padding-right: 3.2rem;}

/* 표시 X, 의미만 있는 태그에 */
.just_mean, .blind_text, .word_blindTxt, .hidden {
  overflow: hidden;
  // display: inline-block;
  display: block;
  position: relative;
  z-index: -1;
  border: 0;
  width: 0.1rem;
  height: 0.1rem;
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  clip-path: inset(50%);
}
/* 테스트로 숨김 */
// .hidden {display: none !important;}

.wide_pdb {
  padding-bottom: 10rem;
  box-sizing: content-box;
}

/* 시스템 컬러 재정의 */ 
.color_systemDanger {color: var(--color-red-danger);}
.color_systemWarn {color: var(--color-orange-warn);}
.color_systemSuccess {color: var(--color-green-success);}
.color_systemInfo {color: var(--color-blue-info);}

/* 간격 시스템 */
/*[class^="col-"] {
  * {
    margin: 0 .4rem;
    width: calc(100% - .8rem);
    &:first-child, &:last-child {width: calc(100% - .4rem);}
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}*/
.col {
  &-2, &-3, &-4, &-5, &-6, &-7, &-8 {
    > * {
      margin: 0 .4rem !important;
      &:first-child {margin-left: 0 !important;}
      &:last-child {margin-right: 0 !important;}
    }
  }
  &-2 > * {
    width: calc(50% - .8rem) !important;
    &:first-child, &:last-child {width: calc(50% - .4rem) !important;}
  }
  &-3 > * {
    width: calc(33.33% - .8rem) !important;
    &:first-child, &:last-child {width: calc(33.33% - .4rem) !important;}
  }
  &-4 > * {
    width: calc(25% - .8rem) !important;
    &:first-child, &:last-child {width: calc(25% - .4rem) !important;}
  }
  &-5 > * {
    width: calc(20% - .8rem) !important;
    &:first-child, &:last-child {width: calc(20% - .4rem) !important;}
  }
  &-6 > * {
    width: calc(16.66% - .8rem) !important;
    &:first-child, &:last-child {width: calc(16.66% - .4rem) !important;}
  }
  &-7 > * {
    width: calc(14.28% - .8rem) !important;
    &:first-child, &:last-child {width: calc(14.28% - .4rem) !important;}
  }
  &-8 > * {
    width: calc(12.5% - .8rem) !important;
    &:first-child, &:last-child {width: calc(12.5% - .4rem) !important;}
  }
}

/* CodeFrag.vue */
/*.form_code {
  width: 100%;
  table-layout: 23.2rem;
  min-width: 23.2rem;
  margin: 2rem 0;
  td {
    width: 100%;
    &.gutter, &.codearea {
      .line {
        padding: .2em 1em;
        white-space: pre;
        text-align: left;
        background-color: #1e1e1e;
      }
      .present {color: #d1d1d1;}
      .plain {color: #858585;}
    }
    &.gutter {
      width: 3.6rem;
      text-align: right;
      .line {
        padding: .2em .8em .2em 1em;
        border-right: .3rem solid #435A5F;
      }
    }
    &.codearea {
      .tag {color: #569cd6;}
      .define {color: #9cdcfc;}
      .string {color: #cb8f76;}
      .number {color: #b5cea7;}
      .component {color: #5ac9b1;}
      .syntax {
        &-magenta {color: #d76fd3;}
        &-yellowish-0 {color: #dcddaa;}
        &-yellowish-1 {color: #f1cd31;}
        &-gleamyblue {color: #4fc0f9;}
      }
    }
    code {
      font-size: 1rem;
      font-weight: 400;  
    }
  }

  td.gutter .line {
    &:first-child {
      border-top-left-radius: .4rem;
    }
    &:last-child {
      border-bottom-left-radius: .4rem;
    }
  }
  td.codearea .line {
    &:first-child {
      border-top-right-radius: .4rem;
    }
    &:last-child {
      border-bottom-right-radius: .4rem;
    }
  }
}

@media(min-width: 375px) {
  .form_code {
    table-layout: 32.7rem;
    min-width: 32.7rem;
    td code {
      font-size: 1.2rem;
    }
  }
}*/

.form_code {
  width: 100%;
  table-layout: auto;
  min-width: 23.2rem;
  margin: 2rem 0;
  // td {width: 100%;}
  td {padding: .4rem 0;}
}
.form_code code, 
.wrap_code code {
  font-size: 1rem;
  font-weight: 400;  
}
.line_width {min-width: 3.6rem;}
.gutter, .codearea {
  .line {
    padding: 0 1em;
    white-space: pre-wrap;
    code {line-height: 1.9rem;}
    // line-height: 1.9rem;
    // background-color: #1e1e1e;
  }
  &.theme\:darken {
    background-color: #1E1E1E;
    .present {color: #D1D1D1;}
    .plain {color: #858585;}
  }
  &.theme\:lighten {
    background-color: #F5F5F5;
    .present {color: #4C4C4C;}
    .plain {color: #A1ACB7;}
  }
  // 스위치(라이트 모드)
  &.theme\:switch {
    background-color: var(--color-grey-lighten4);
    .present {color: #4C4C4C;}
    .plain {color: #A1ACB7;}
    .insert {color: var(--color-amber-accent2);}
  }
  // &.theme\:simplify {}
}
.gutter {
  // width: 3.6rem;
  text-align: right !important;
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
  .line {
    padding: 0 .8em 0 1em;
  }
  + .codearea {
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
  }
  &.theme\:darken {
    border-right: .3rem solid #435A5F;
  }
  &.theme\:lighten {
    border-right: .3rem solid rgba(144, 146, 131, .15);    // #909283;
    // border-right: .3rem solid #48985D;
  }
  // 스위치(라이트 모드)
  &.theme\:switch {
    border-right: .3rem solid rgba(144, 146, 131, .15); 
  }
}
.codearea {
  text-align: left !important;

  /* 다크 */
  &.theme\:darken {
    .tag {color: #569CD6;}
    .define {color: #9CDCFC;}
    .string {color: #CB8F76;}
    .number {color: #B5CEA7;}
    .component {color: #5AC9B1;}
    .fordesc {color: #6A9955;}
    .syntax {
      &-magenta {color: #D76FD3;}
      &-yellowish-0 {color: #DCDDAA;}
      &-yellowish-1 {color: #F1CD31;}
      &-gleamyblue {color: #4FC0F9;}
    }
  }

  /* 라이트 */
  &.theme\:lighten {
    .tag {color: #7D91D3;}
    .define {color: #9663B2;}
    .string, .classobj {color: #5B9B44;}
    .number {color: #946529;}
    .component {color: #8804F4;}
    .fordesc {color: #6A9955;}
    .syntax {
      &-magenta {color: #D4868E;}
      &-yellowish-0 {color: #DA8F41;}
      &-yellowish-1 {color: #C56111;}
      &-gleamyblue {color: #1D3FB5;}
    }
  }

  // 스위치(라이트 모드)
  &.theme\:switch {
    .tag {color: #7D91D3;}
    .define {color: #9663B2;}
    // .string, .classobj {color: #5B9B44;}
    .string, .classobj {color: #0032AF;}
    .number {color: #946529;}
    .component {color: #8804F4;}
    .fordesc {color: #6A9955;}
    .syntax {
      &-magenta {color: #D4868E;}
      &-yellowish-0 {color: #DA8F41;}
      &-yellowish-1 {color: #C56111;}
      &-gleamyblue {color: #1D3FB5;}
    }
    .rowDesc {
      * {
        color: #6A9955;
      }
    }
  }

  &.theme\:terminal {
    .command {color: #111;}
    .option {
      color: #BDBDBD;
      font-family: italic;
    }
    .line {
      padding: 0 1.2rem;
      height: 4rem;
      line-height: 4rem;
      // background-color: #eee;
      background-color: var(--color-grey-another1);
      border-radius: .6rem;
      code {
        font-size: 1.2rem;
      }
      + .line {
        margin-top: 1.6rem;
      }
    }
  }

  /* 단순화 */
  /*&.theme\:simplify {
    .tag {color: #569cd6;}
    .define {color: #9cdcfc;}
    .string {color: #cb8f76;}
    .number {color: #b5cea7;}
    .component {color: #5ac9b1;}
    .fordesc {color: #6A9955;}
    .syntax {
      &-magenta {color: #d76fd3;}
      &-yellowish-0 {color: #dcddaa;}
      &-yellowish-1 {color: #f1cd31;}
      &-gleamyblue {color: #4fc0f9;}
    }
  }*/
}

/*.gutter .line {
  &:first-child {border-top-left-radius: .4rem;}
  &:last-child {border-bottom-left-radius: .4rem;}
}
.codearea .line {
  &:first-child {border-top-right-radius: .4rem;}
  &:last-child {border-bottom-right-radius: .4rem;}
}*/


.header, .header + .tab_navi, 
.wrap, .bottom_tab {
  min-width: 28rem;
  max-width: 43rem;
  margin: 0 auto;
}
.header, .header + .tab_navi, .bottom_tab {
  left: 0;
  right: 0;
}
.header, .header + .tab_navi, .wrap, .bottom_tab {
  border-left: 0;
  border-right: 0; 
}

/* sortUi 스타일 수정 */
.sortUi .form_code {
  tr {display: block;}
  tbody tr {
    height: 14rem;
    // .codearea {
    //   overflow-y: unset;
    // }
  }
  tfoot tr {
    height: 40rem;
    &:first-child {margin-top: 2rem;}  
  }
}
/* CodeNavbar 탭메뉴 컴포넌트 스타일 수정 */
.sortUi .adopt_heightLvMin .form_code tbody tr {
  height: 7.4rem;
}
.sortUi .adopt_heightLv1 .form_code tbody tr {
  height: 14rem;
}
.sortUi .get_bottomTab {
  .bottom_tab {
      position: relative;
      display: flex;
      // pointer-events: none;
      border: 0 !important;
      padding-top: 0;
      padding-bottom: 0;
      align-items: center;
      background-color: var(--color-grey-lighten4);
      z-index: 0;
      .router-link-active .preview__icon span::before, 
      .router-link-active .preview + p {
        color: var(--color-grey-dull3) !important;
      }
  }
}

/* 다크 모드 */
.dark-mode {
  .gutter, .codearea {
    &.theme\:switch {
      background-color: var(--color-skycolor-pale1);;
      .present {color: #D1D1D1;}
      .plain {color: #858585;}
    }
  }
  .gutter {
    &.theme\:switch {
      border-right: .3rem solid #435A5F; 
    }
  }
  .codearea {
    &.theme\:switch {
      .tag {color: #569CD6;}
      .define {color: #9CDCFC;}
      .string {color: #CB8F76;}
      .number {color: #B5CEA7;}
      .component {color: #5AC9B1;}
      .fordesc {color: #6A9955;}
      .syntax {
        &-magenta {color: #D76FD3;}
        &-yellowish-0 {color: #DCDDAA;}
        &-yellowish-1 {color: #F1CD31;}
        &-gleamyblue {color: #4FC0F9;}
      }
    }
    &.codearea.theme\:terminal {
      .command, code:not(.option) {
        color: #333;
      }
      .line {
        background-color: #828592;
      }
    }
  }
  .sortUi .get_bottomTab {
    .bottom_tab {
      .router-link-active .preview__icon span::before, 
      .router-link-active .preview + p {
        color: #f6f6f6 !important;
      }
    }
  }
}


@media(min-width: 375px) {
  .form_code {
    min-width: 31.1rem;
  }
  .form_code code, 
  .wrap_code code {
    font-size: 1.2rem;
  }
  .gutter, .codearea {
    .line code {line-height: 2.2rem;}
    // .line {line-height: 2.2rem;}
  }
  .header, .header + .tab_navi, .wrap, .bottom_tab {
    @include borderX(
      $bd_left: var(--color-grey-another1), 
      $bd_right: var(--color-grey-another1)
    );
  }
}