@charset "UTF-8";
/* 구글 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");
/* scss 삽입 */
:root {
  /*
      root    scss   1
      reset   scss  1 (벤치마킹)
      변수 계산 scss 1
      ----------------------
      header  scss 1
      footer  scss 1
  */
  /* Safari 모웹 화면 높이 vh 설정 */
  /* color */
  --color-grey-lighten1: #e0e0e0;
  --color-grey-lighten2: #eeeeee;
  --color-grey-lighten3: #f5f5f5;
  --color-grey-lighten4: #ffffff;
  --color-grey-another1: #f6f6f6;
  --color-skycolor-level1: #f2f4f7;
  --color-skycolor-level2: #dce2ea;
  --color-skycolor-midnight1: #1f242d;
  --color-skycolor-midnight2: #0d1424;
  --color-grey-dull1: #bdbdbd;
  --color-grey-dull2: #9e9e9e;
  --color-grey-dull3: #757575;
  --color-grey-dull4: #616161;
  --color-black-deep1: #424242;
  --color-black-deep2: #333333;
  --color-black-deep3: #222222;
  --color-black-deep4: #000000;
  --color-yellow-accent1: #ffff00;
  --color-yellow-accent2: #ffea00;
  --color-yellow-accent3: #ffd600;
  --color-amber-accent1: #ffab00;
  --color-amber-accent2: #ff8500;
  /* 시스템컬러: 위험, 주의, 성공, 정보 */
  --color-red-danger: #d32f2f;
  --color-orange-warn: #f9a825;
  --color-green-success: #4caf50;
  --color-blue-info: #0091ea;
  /* btn-size */
  --btn-h-xs: 4rem;
  --btn-h-sm: 4.4rem;
  --btn-h-md: 4.8rem;
  --btn-h-lg: 5.2rem;
  --btn-h-xl: 5.6rem;
  --btn-h-2xl: 5.6rem;
  --btn-h-3xl: 6.0rem;
  --btn-h-4xl: 6.4rem;
  --btn-h-5xl: 6.8rem;
  --btn-h-6xl: 7rem;
  /* space */
  --space-unit-xs: .8rem;
  --space-unit-sm: 1.2rem;
  --space-unit-md: 1.4rem;
  --space-unit-lg: 2.0rem;
  --space-unit-xl: 2.4rem;
  --space-unit-xxl: 3.6rem;
  /* font-family */
  /* @media 스크린 너비 */
  /* font-size */
  --fontPx-xs: 1.2rem;
  --fontPx-sm: 1.4rem;
  --fontPx-md: 1.6rem;
  --fontPx-lg: 1.8rem;
  --fontPx-xl: 2.1rem;
  --fontPx-2xl: 2.4rem;
  --fontPx-3xl: 2.7rem;
  --fontPx-4xl: 3.0rem;
  --fontPx-5xl: 3.3rem;
  /* 1rem = 10px 일때 */
  --fontRem-1pt0: 1rem;
  --fontRem-1pt2: 1.2rem;
  --fontRem-1pt3: 1.3rem;
  --fontRem-1pt4: 1.4rem;
  --fontRem-1pt6: 1.6rem;
  --fontRem-1pt8: 1.8rem;
  --fontRem-2pt1: 2.1rem;
  --fontRem-2pt4: 2.4rem;
  --fontRem-2pt7: 2.7rem;
  --fontRem-3pt0: 3rem;
  --fontRem-3pt3: 3.3rem;
  --fontRem-3pt6: 3.6rem;
  --fontRem-3pt9: 3.9rem;
  --fontRem-4pt2: 4.2rem;
  --fontRem-4pt5: 4.5rem;
}
:root :not(.dark-mode) {
  transition: all 0.2s cubic-bezier(0.27, -0.38, 0.35, 1.01);
}
:root .dark-mode {
  transition: all 0.2s cubic-bezier(1, 0.12, 0.35, 1.01);
  --color-grey-lighten1: #424242;
  --color-grey-lighten2: #333333;
  --color-grey-lighten3: #222222;
  --color-grey-lighten4: #000000;
  --color-grey-another1: #6c6e75;
  --color-skycolor-pale1: #32373f;
  --color-skycolor-level1: #1f242d;
  --color-skycolor-level2: #0d1424;
  --color-grey-dull1: #616161;
  --color-grey-dull2: #757575;
  --color-grey-dull3: #9e9e9e;
  --color-grey-dull4: #bdbdbd;
  --color-black-deep1: #e0e0e0;
  --color-black-deep2: #eeeeee;
  --color-black-deep3: #f5f5f5;
  --color-black-deep4: #ffffff;
}

/* 테스트 - 꼭 따로 분리 */
.container {
  color: var(--color-amber-accent1);
}
.container > section {
  margin-top: calc(var(--space-unit-sm) * 2);
}

/* 비추천.. (안드로이드, iOS 버전따라 지원 안 될 수도..)
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-color: #333333;

    --color-txt-deep1: #bdbdbd;
    --color-txt-deep2: #e0e0e0;
    --color-txt-deep3: #eeeeee;
    --color-txt-deep4: #f5f5f5;
    --color-txt-deep5: #ffffff;
  }
  body {
    background-color: var(--color-bg-color);
  }
}*/
/* 루트 scss 파일 분할 -> 다른 scss 파일로 이전 */
/* 믹스인 컴포넌트 - (SPA) 믹스인 페이지 별도 생성해야 
   파일명: variables_ (분할 컴파일)
*/
body {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  background-color: transparent;
  overflow-y: auto;
}
body .header, body .tab_navi, body .bottom_tab {
  transition: all 0.15s cubic-bezier(1, -0.47, 0.22, 1.47);
}
body.active_popup {
  overflow-y: hidden;
}
body.active_popup .header, body.active_popup .tab_navi, body.active_popup .bottom_tab {
  z-index: 1;
  transition: all 0.15s cubic-bezier(0, 0.29, 0.69, 1.83);
}

* {
  -webkit-tap-highlight-color: transparent;
}

#app {
  padding-top: 5.2rem;
  min-width: 28rem;
  max-width: 43rem;
  margin: 0 auto;
  overflow-x: hidden;
}

:root #app {
  background-color: var(--color-grey-lighten4);
}

.wrap {
  padding: 3.6rem 2rem;
  margin: 0 auto;
  background-color: var(--color-skycolor-level1);
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-black-deep3);
}
a:focus {
  color: var(--color-black-deep3);
}

span.isActive::before, p.isActive {
  color: var(--color-amber-accent2) !important;
}

.width_applyUnder img {
  display: block;
  width: 100% !important;
}

/* 접근성 테스트 */
.vue-skip-to {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  min-width: 28rem;
  max-width: 43rem;
  margin: 0 auto !important;
  z-index: 10;
  width: 100% !important;
  height: auto !important;
  background-color: var(--color-amber-accent1);
}
.vue-skip-to.focused, .vue-skip-to:hover {
  width: 100% !important;
}
.vue-skip-to .vue-skip-to__link {
  width: 100% !important;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  padding: 0;
  height: 3.6rem;
  line-height: 3.6rem;
}

/* margin-top */
.mgt0 {
  margin-top: 0rem;
}

.mgt4 {
  margin-top: 0.4rem;
}

.mgt8 {
  margin-top: 0.8rem;
}

.mgt12 {
  margin-top: 1.2rem;
}

.mgt16 {
  margin-top: 1.6rem;
}

.mgt20 {
  margin-top: 2rem;
}

.mgt24 {
  margin-top: 2.4rem;
}

.mgt28 {
  margin-top: 2.8rem;
}

.mgt32 {
  margin-top: 3.2rem;
}

.mgt36 {
  margin-top: 3.6rem;
}

.mgt40 {
  margin-top: 4rem;
}

.mgt44 {
  margin-top: 4.4rem;
}

.mgt48 {
  margin-top: 4.8rem;
}

/* padding-top */
.pdt0 {
  padding-top: 0rem !important;
}

.pdt4 {
  padding-top: 0.4rem;
}

.pdt8 {
  padding-top: 0.8rem;
}

.pdt12 {
  padding-top: 1.2rem;
}

.pdt16 {
  padding-top: 1.6rem;
}

.pdt20 {
  padding-top: 2rem;
}

.pdt24 {
  padding-top: 2.4rem;
}

.pdt28 {
  padding-top: 2.8rem;
}

.pdt32 {
  padding-top: 3.2rem;
}

.pdt36 {
  padding-top: 3.6rem;
}

.pdt40 {
  padding-top: 4rem;
}

.pdt44 {
  padding-top: 4.4rem;
}

.pdt48 {
  padding-top: 4.8rem;
}

.pdl24 {
  padding-left: 2.4rem;
}

.pdl28 {
  padding-left: 2.8rem;
}

.pdl32 {
  padding-left: 3.2rem;
}

.pdr32 {
  padding-right: 3.2rem;
}

/* 표시 X, 의미만 있는 태그에 */
.just_mean, .blind_text, .word_blindTxt, .hidden {
  overflow: hidden;
  display: block;
  position: relative;
  z-index: -1;
  border: 0;
  width: 0.1rem;
  height: 0.1rem;
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

/* 테스트로 숨김 */
.wide_pdb {
  padding-bottom: 10rem;
  box-sizing: content-box;
}

/* 시스템 컬러 재정의 */
.color_systemDanger {
  color: var(--color-red-danger);
}

.color_systemWarn {
  color: var(--color-orange-warn);
}

.color_systemSuccess {
  color: var(--color-green-success);
}

.color_systemInfo {
  color: var(--color-blue-info);
}

/* 간격 시스템 */
/*[class^="col-"] {
  * {
    margin: 0 .4rem;
    width: calc(100% - .8rem);
    &:first-child, &:last-child {width: calc(100% - .4rem);}
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}*/
.col-2 > *, .col-3 > *, .col-4 > *, .col-5 > *, .col-6 > *, .col-7 > *, .col-8 > * {
  margin: 0 0.4rem !important;
}
.col-2 > *:first-child, .col-3 > *:first-child, .col-4 > *:first-child, .col-5 > *:first-child, .col-6 > *:first-child, .col-7 > *:first-child, .col-8 > *:first-child {
  margin-left: 0 !important;
}
.col-2 > *:last-child, .col-3 > *:last-child, .col-4 > *:last-child, .col-5 > *:last-child, .col-6 > *:last-child, .col-7 > *:last-child, .col-8 > *:last-child {
  margin-right: 0 !important;
}
.col-2 > * {
  width: calc(50% - 0.8rem) !important;
}
.col-2 > *:first-child, .col-2 > *:last-child {
  width: calc(50% - 0.4rem) !important;
}
.col-3 > * {
  width: calc(33.33% - 0.8rem) !important;
}
.col-3 > *:first-child, .col-3 > *:last-child {
  width: calc(33.33% - 0.4rem) !important;
}
.col-4 > * {
  width: calc(25% - 0.8rem) !important;
}
.col-4 > *:first-child, .col-4 > *:last-child {
  width: calc(25% - 0.4rem) !important;
}
.col-5 > * {
  width: calc(20% - 0.8rem) !important;
}
.col-5 > *:first-child, .col-5 > *:last-child {
  width: calc(20% - 0.4rem) !important;
}
.col-6 > * {
  width: calc(16.66% - 0.8rem) !important;
}
.col-6 > *:first-child, .col-6 > *:last-child {
  width: calc(16.66% - 0.4rem) !important;
}
.col-7 > * {
  width: calc(14.28% - 0.8rem) !important;
}
.col-7 > *:first-child, .col-7 > *:last-child {
  width: calc(14.28% - 0.4rem) !important;
}
.col-8 > * {
  width: calc(12.5% - 0.8rem) !important;
}
.col-8 > *:first-child, .col-8 > *:last-child {
  width: calc(12.5% - 0.4rem) !important;
}

/* CodeFrag.vue */
/*.form_code {
  width: 100%;
  table-layout: 23.2rem;
  min-width: 23.2rem;
  margin: 2rem 0;
  td {
    width: 100%;
    &.gutter, &.codearea {
      .line {
        padding: .2em 1em;
        white-space: pre;
        text-align: left;
        background-color: #1e1e1e;
      }
      .present {color: #d1d1d1;}
      .plain {color: #858585;}
    }
    &.gutter {
      width: 3.6rem;
      text-align: right;
      .line {
        padding: .2em .8em .2em 1em;
        border-right: .3rem solid #435A5F;
      }
    }
    &.codearea {
      .tag {color: #569cd6;}
      .define {color: #9cdcfc;}
      .string {color: #cb8f76;}
      .number {color: #b5cea7;}
      .component {color: #5ac9b1;}
      .syntax {
        &-magenta {color: #d76fd3;}
        &-yellowish-0 {color: #dcddaa;}
        &-yellowish-1 {color: #f1cd31;}
        &-gleamyblue {color: #4fc0f9;}
      }
    }
    code {
      font-size: 1rem;
      font-weight: 400;  
    }
  }

  td.gutter .line {
    &:first-child {
      border-top-left-radius: .4rem;
    }
    &:last-child {
      border-bottom-left-radius: .4rem;
    }
  }
  td.codearea .line {
    &:first-child {
      border-top-right-radius: .4rem;
    }
    &:last-child {
      border-bottom-right-radius: .4rem;
    }
  }
}

@media(min-width: 375px) {
  .form_code {
    table-layout: 32.7rem;
    min-width: 32.7rem;
    td code {
      font-size: 1.2rem;
    }
  }
}*/
.form_code {
  width: 100%;
  table-layout: auto;
  min-width: 23.2rem;
  margin: 2rem 0;
}
.form_code td {
  padding: 0.4rem 0;
}

.form_code code,
.wrap_code code {
  font-size: 1rem;
  font-weight: 400;
}

.line_width {
  min-width: 3.6rem;
}

.gutter .line, .codearea .line {
  padding: 0 1em;
  white-space: pre-wrap;
}
.gutter .line code, .codearea .line code {
  line-height: 1.9rem;
}
.gutter.theme\:darken, .codearea.theme\:darken {
  background-color: #1E1E1E;
}
.gutter.theme\:darken .present, .codearea.theme\:darken .present {
  color: #D1D1D1;
}
.gutter.theme\:darken .plain, .codearea.theme\:darken .plain {
  color: #858585;
}
.gutter.theme\:lighten, .codearea.theme\:lighten {
  background-color: #F5F5F5;
}
.gutter.theme\:lighten .present, .codearea.theme\:lighten .present {
  color: #4C4C4C;
}
.gutter.theme\:lighten .plain, .codearea.theme\:lighten .plain {
  color: #A1ACB7;
}
.gutter.theme\:switch, .codearea.theme\:switch {
  background-color: var(--color-grey-lighten4);
}
.gutter.theme\:switch .present, .codearea.theme\:switch .present {
  color: #4C4C4C;
}
.gutter.theme\:switch .plain, .codearea.theme\:switch .plain {
  color: #A1ACB7;
}
.gutter.theme\:switch .insert, .codearea.theme\:switch .insert {
  color: var(--color-amber-accent2);
}

.gutter {
  text-align: right !important;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
.gutter .line {
  padding: 0 0.8em 0 1em;
}
.gutter + .codearea {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
.gutter.theme\:darken {
  border-right: 0.3rem solid #435A5F;
}
.gutter.theme\:lighten {
  border-right: 0.3rem solid rgba(144, 146, 131, 0.15);
}
.gutter.theme\:switch {
  border-right: 0.3rem solid rgba(144, 146, 131, 0.15);
}

.codearea {
  text-align: left !important;
  /* 다크 */
  /* 라이트 */
  /* 단순화 */
  /*&.theme\:simplify {
    .tag {color: #569cd6;}
    .define {color: #9cdcfc;}
    .string {color: #cb8f76;}
    .number {color: #b5cea7;}
    .component {color: #5ac9b1;}
    .fordesc {color: #6A9955;}
    .syntax {
      &-magenta {color: #d76fd3;}
      &-yellowish-0 {color: #dcddaa;}
      &-yellowish-1 {color: #f1cd31;}
      &-gleamyblue {color: #4fc0f9;}
    }
  }*/
}
.codearea.theme\:darken .tag {
  color: #569CD6;
}
.codearea.theme\:darken .define {
  color: #9CDCFC;
}
.codearea.theme\:darken .string {
  color: #CB8F76;
}
.codearea.theme\:darken .number {
  color: #B5CEA7;
}
.codearea.theme\:darken .component {
  color: #5AC9B1;
}
.codearea.theme\:darken .fordesc {
  color: #6A9955;
}
.codearea.theme\:darken .syntax-magenta {
  color: #D76FD3;
}
.codearea.theme\:darken .syntax-yellowish-0 {
  color: #DCDDAA;
}
.codearea.theme\:darken .syntax-yellowish-1 {
  color: #F1CD31;
}
.codearea.theme\:darken .syntax-gleamyblue {
  color: #4FC0F9;
}
.codearea.theme\:lighten .tag {
  color: #7D91D3;
}
.codearea.theme\:lighten .define {
  color: #9663B2;
}
.codearea.theme\:lighten .string, .codearea.theme\:lighten .classobj {
  color: #5B9B44;
}
.codearea.theme\:lighten .number {
  color: #946529;
}
.codearea.theme\:lighten .component {
  color: #8804F4;
}
.codearea.theme\:lighten .fordesc {
  color: #6A9955;
}
.codearea.theme\:lighten .syntax-magenta {
  color: #D4868E;
}
.codearea.theme\:lighten .syntax-yellowish-0 {
  color: #DA8F41;
}
.codearea.theme\:lighten .syntax-yellowish-1 {
  color: #C56111;
}
.codearea.theme\:lighten .syntax-gleamyblue {
  color: #1D3FB5;
}
.codearea.theme\:switch .tag {
  color: #7D91D3;
}
.codearea.theme\:switch .define {
  color: #9663B2;
}
.codearea.theme\:switch .string, .codearea.theme\:switch .classobj {
  color: #0032AF;
}
.codearea.theme\:switch .number {
  color: #946529;
}
.codearea.theme\:switch .component {
  color: #8804F4;
}
.codearea.theme\:switch .fordesc {
  color: #6A9955;
}
.codearea.theme\:switch .syntax-magenta {
  color: #D4868E;
}
.codearea.theme\:switch .syntax-yellowish-0 {
  color: #DA8F41;
}
.codearea.theme\:switch .syntax-yellowish-1 {
  color: #C56111;
}
.codearea.theme\:switch .syntax-gleamyblue {
  color: #1D3FB5;
}
.codearea.theme\:switch .rowDesc * {
  color: #6A9955;
}
.codearea.theme\:terminal .command {
  color: #111;
}
.codearea.theme\:terminal .option {
  color: #BDBDBD;
  font-family: italic;
}
.codearea.theme\:terminal .line {
  padding: 0 1.2rem;
  height: 4rem;
  line-height: 4rem;
  background-color: var(--color-grey-another1);
  border-radius: 0.6rem;
}
.codearea.theme\:terminal .line code {
  font-size: 1.2rem;
}
.codearea.theme\:terminal .line + .line {
  margin-top: 1.6rem;
}

/*.gutter .line {
  &:first-child {border-top-left-radius: .4rem;}
  &:last-child {border-bottom-left-radius: .4rem;}
}
.codearea .line {
  &:first-child {border-top-right-radius: .4rem;}
  &:last-child {border-bottom-right-radius: .4rem;}
}*/
.header, .header + .tab_navi,
.wrap, .bottom_tab {
  min-width: 28rem;
  max-width: 43rem;
  margin: 0 auto;
}

.header, .header + .tab_navi, .bottom_tab {
  left: 0;
  right: 0;
}

.header, .header + .tab_navi, .wrap, .bottom_tab {
  border-left: 0;
  border-right: 0;
}

/* sortUi 스타일 수정 */
.sortUi .form_code tr {
  display: block;
}
.sortUi .form_code tbody tr {
  height: 14rem;
}
.sortUi .form_code tfoot tr {
  height: 40rem;
}
.sortUi .form_code tfoot tr:first-child {
  margin-top: 2rem;
}

/* CodeNavbar 탭메뉴 컴포넌트 스타일 수정 */
.sortUi .adopt_heightLvMin .form_code tbody tr {
  height: 7.4rem;
}

.sortUi .adopt_heightLv1 .form_code tbody tr {
  height: 14rem;
}

.sortUi .get_bottomTab .bottom_tab {
  position: relative;
  display: flex;
  border: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
  background-color: var(--color-grey-lighten4);
  z-index: 0;
}
.sortUi .get_bottomTab .bottom_tab .router-link-active .preview__icon span::before,
.sortUi .get_bottomTab .bottom_tab .router-link-active .preview + p {
  color: var(--color-grey-dull3) !important;
}

/* 다크 모드 */
.dark-mode .gutter.theme\:switch, .dark-mode .codearea.theme\:switch {
  background-color: var(--color-skycolor-pale1);
}
.dark-mode .gutter.theme\:switch .present, .dark-mode .codearea.theme\:switch .present {
  color: #D1D1D1;
}
.dark-mode .gutter.theme\:switch .plain, .dark-mode .codearea.theme\:switch .plain {
  color: #858585;
}
.dark-mode .gutter.theme\:switch {
  border-right: 0.3rem solid #435A5F;
}
.dark-mode .codearea.theme\:switch .tag {
  color: #569CD6;
}
.dark-mode .codearea.theme\:switch .define {
  color: #9CDCFC;
}
.dark-mode .codearea.theme\:switch .string {
  color: #CB8F76;
}
.dark-mode .codearea.theme\:switch .number {
  color: #B5CEA7;
}
.dark-mode .codearea.theme\:switch .component {
  color: #5AC9B1;
}
.dark-mode .codearea.theme\:switch .fordesc {
  color: #6A9955;
}
.dark-mode .codearea.theme\:switch .syntax-magenta {
  color: #D76FD3;
}
.dark-mode .codearea.theme\:switch .syntax-yellowish-0 {
  color: #DCDDAA;
}
.dark-mode .codearea.theme\:switch .syntax-yellowish-1 {
  color: #F1CD31;
}
.dark-mode .codearea.theme\:switch .syntax-gleamyblue {
  color: #4FC0F9;
}
.dark-mode .codearea.codearea.theme\:terminal .command, .dark-mode .codearea.codearea.theme\:terminal code:not(.option) {
  color: #333;
}
.dark-mode .codearea.codearea.theme\:terminal .line {
  background-color: #828592;
}
.dark-mode .sortUi .get_bottomTab .bottom_tab .router-link-active .preview__icon span::before,
.dark-mode .sortUi .get_bottomTab .bottom_tab .router-link-active .preview + p {
  color: #f6f6f6 !important;
}

@media (min-width: 375px) {
  .form_code {
    min-width: 31.1rem;
  }
  .form_code code,
  .wrap_code code {
    font-size: 1.2rem;
  }
  .gutter .line code, .codearea .line code {
    line-height: 2.2rem;
  }
  .header, .header + .tab_navi, .wrap, .bottom_tab {
    border-left: 1px solid var(--color-grey-another1);
    border-right: 1px solid var(--color-grey-another1);
  }
}/*# sourceMappingURL=common.css.map */