@mixin border_radius($corner) {
    border-radius: $corner;
}
@mixin shadow_sm($alpha) {
    box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, $alpha);
}
@mixin shadow_md($alpha) {
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, $alpha);
}
@mixin shadow_lg($alpha) {
    box-shadow: 0 1.5rem 3rem 0 rgba(0, 0, 0, $alpha);
}
@mixin shadow_header($alpha) {
    box-shadow: 0 -0.1rem .5rem 0 rgba(0, 0, 0, $alpha);
}
@mixin background_define($url, $sizeOpt, $repeat) {
    background-image: url('../assets/images/' + $url + '.png');
    background-size: $sizeOpt;
    background-position: top left;
    background-repeat: $repeat;
    background-attachment: scroll;
}
@mixin borderX($bd_left, $bd_right) {
    border-left: 1px solid $bd_left;
    border-right: 1px solid $bd_right;
}
@mixin fixed_center($poseval, $left, $top, $transX, $transY) {
    position: $poseval;
    left: $left;
    top: $top;
    transform: translate($transX, $transY);
}
@mixin pos_center($display, $w, $h) {
    position: absolute;
    display: $display;
    width: $w;
    height: $h;
    line-height: $h;
    text-align: center;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}